# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Daniel\Documents\TrabalhoPraticoPA\FourInARowDemolisherEdition\FourInARowDemolisherEdition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
